{{ define "main" }}
{{ partial "breadcrumbs" . }}
{{ partial "full-banner.html" (dict "titleBanner" .Title "banner" .Params.bgImage "subtitleBanner" .Params.subtitle "especiesRegistradas" .Params.especies_registradas "linearGradient" "rgba(5,75,133,1)") }}
{{ if not (or (.Params.isDepartment) (.Params.isNaturalReserve) (.Params.isIndigenousReservation)) }}
<div class="text-white bg-blue-dark py-12 lg:py-16 xl:py-20 space-y-10">
    <div class="mx-auto w-10/12 max-w-screen-xl text-white space-y-12 lg:space-y-16 xl:space-y-20">
        <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center">
            <div class="lg:w-1/2" style="max-width: 364px;">
                <div class="flex justify-between">
                    <div class="space-y-4" style="max-width: 160px;">
                        <p class="text-5xl xl:text-6xl font-semibold font-oswald">{{ .Params.especies_continentales }}</p>
                        <p class="text-base font-open-sans-condensed">Especies continentales</p>
                        <img src="/images/colombia/trazado-262.svg" alt="picos">
                        <p class="font-semibold text-lg xl:text-xl text-blue-ultra-light font-oswald">
                            {{ .Params.observaciones_continentales }}
                        </p>
                        <span class="font-open-sans-condensed text-blue-ultra-light text-sm">Observaciones
                            continentales</span>
                    </div>
                    <div class="space-y-4" style="max-width: 128px;">
                        <p class="text-5xl xl:text-6xl font-semibold font-oswald">
                            {{ .Params.especies_marinas }}
                        </p>
                        <p class="text-base font-open-sans-condensed">Especies marinas</p>
                        <img src="/images/colombia/trazado-262.svg" alt="picos">
                        <p class="font-semibold text-lg xl:text-xl text-blue-ultra-light font-oswald">
                            {{ .Params.observaciones_marinos }}
                        </p>
                        <span class="font-open-sans-condensed text-blue-ultra-light text-sm">Observaciones
                            marinos</span>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/2" style="max-width: 456px;">
                <p class="xl:text-lg">
                    Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                    tincidunt
                    ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                    tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ if .Params.isNaturalReserve }}
<div class="text-white bg-blue-dark py-12 lg:py-16 xl:py-20 space-y-10">
    <div class="mx-auto w-10/12 max-w-screen-xl relative">
        <div class="space-y-8" style="max-width: 410px;">
            <h2 class="text-xl lg:text-2xl font-bold">
                Reserva natural {{ .Title }} vs. Reservas naturales de Colombia
            </h2>
            <p>
                Sistema Nacional de Áreas Protegidas: Reservas Forestales Protectoras Nacionales
            </p>
        </div>
    </div>
</div>
{{ end }}
{{ if not (or (.Params.isNaturalReserve) (.Params.isIndigenousReservation)) }}
<div class="text-white bg-blue-dark py-12 lg:py-16 xl:py-20 space-y-10">
    <div class="mx-auto w-10/12 max-w-screen-xl relative">
        <!-- Slider main container -->
        <div class="swiper swiper-summary">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="flex justify-between">
                        <div class="space-y-4 sm:w-5/12">
                            <h2 class="text-xl lg:text-3xl font-bold">
                                {{ .Title }} vs. Colombia
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolor.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="hidden sm:block space-y-3 md:space-y-6 w-5/12">
                            <h3 class="text-center mx-auto font-open-sans-condensed" style="max-width: 238px;">
                                Especies registradas en {{ .Title }} vs. especies registradas en {{ if .Params.isDepartment }}
                                {{ .Parent.Title }}
                                {{ else }}
                                Colombia
                                {{ end }}
                            </h3>
                            <div class="mx-auto w-11/12 h-full">
                                <img class="mx-auto my-auto" src="/images/public/grafica-circular.svg" alt="grafica circular">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-between">
                        <div class="space-y-4 sm:w-5/12">
                            <h2 class="text-xl lg:text-3xl font-bold">
                                {{ .Title }} vs. Colombia
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolor.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="hidden sm:block space-y-3 md:space-y-6 w-5/12">
                            <h3 class="text-center mx-auto font-open-sans-condensed" style="max-width: 238px;">
                                Especies registradas en {{ .Title }} vs. especies registradas en {{ if .Params.isDepartment }}
                                {{ .Parent.Title }}
                                {{ else }}
                                Colombia
                                {{ end }}
                            </h3>
                            <div class="mx-auto w-11/12 h-full">
                                <img class="mx-auto my-auto" src="/images/public/grafica-circular.svg" alt="grafica circular">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-between">
                        <div class="space-y-4 sm:w-5/12">
                            <h2 class="text-xl lg:text-3xl font-bold">
                                {{ .Title }} vs. Colombia
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolor.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="hidden sm:block space-y-3 md:space-y-6 w-5/12">
                            <h3 class="text-center mx-auto font-open-sans-condensed" style="max-width: 238px;">
                                Especies registradas en {{ .Title }} vs. especies registradas en {{ if .Params.isDepartment }}
                                {{ .Parent.Title }}
                                {{ else }}
                                Colombia
                                {{ end }}
                            </h3>
                            <div class="mx-auto w-11/12 h-full">
                                <img class="mx-auto my-auto" src="/images/public/grafica-circular.svg" alt="grafica circular">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden lg:block">
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev swiper-button-prev-summary" style="left: -80px;">
                <img src="/images/public/left-arrow.svg" alt="left arrow">
            </div>
            <div class="swiper-button-next swiper-button-next-summary" style="right: -80px;">
                <img src="/images/public/right-arrow.svg" alt="right arrow">
            </div>
        </div>
    </div>
</div>
{{ end }}
<div id="app"></div>
{{ partial "grupos-biologicos.html" . }}
{{ partial "tematicas.html" . }}
{{ partial "regiones.html" . }}
{{ if or (.Params.isNaturalReserve) (.Params.isIndigenousReservation) }}
<section class="pt-24 px-6 bg-blue-dark">
    <div class="mx-auto max-w-6xl w-10/12">
        <h2 class="text-white font-bold text-xl lg:text-2xl">
            <span class="font-normal text-lg">Conoce más </span>Regiones
        </h2>
        <div class="mx-auto xl:w-11/12">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 mt-16">
                {{ $currentTitle := .Title }}
                {{ range .Parent.Pages }}
                    {{ if not (eq $currentTitle .Title) }}
                    {{ partial "image-box-gradient" (dict "title" .Title "subtitle" .Params.subtitle "urlImage" .Params.image "link" .Permalink "linearGradient" "rgba(5,75,133,1)") }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ else }}
<section class="pt-24 px-6 bg-blue-dark">
    <div class="mx-auto max-w-6xl w-10/12">
        <h2 class="text-white font-bold text-xl lg:text-2xl">
            <span class="font-normal text-lg">Intereses de </span>{{ .Title }}
        </h2>
        <div class="mx-auto xl:w-11/12">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 mt-16">
                {{ range .Pages }}
                {{ partial "image-box-gradient" (dict "title" .Title "urlImage" .Params.bgImage "link" .Permalink "linearGradient" "rgba(5,75,133,1)") }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
<div class="bg-white h-32 -mt-9"></div>
<div class="bg-blue-section py-12 space-y-12 lg:py-16 xl:py-20 space-y-10">
    <div class="mx-auto w-10/12 max-w-screen-xl space-y-12 lg:space-y-16 xl:space-y-20">
        <h2 class="font-bold text-white text-3xl">Publicadores</h2>
        <!-- Slider main container -->
        <div class="swiper swiper-netflix">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "card-publicadores.html" (dict "paisPublicacion" "CO" "publicadores" "Universidad Nacional de Colombia" "logotipo" "/images/publicadores/universidad-nacional-colombia.jpg" "observaciones" "14020" "totalEspecies" "3434") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "card-publicadores.html" (dict "paisPublicacion" "US" "publicadores" "Missouri Botanical Garden" "logotipo" "/images/publicadores/missouri.jpg" "observaciones" "10845" "totalEspecies" "2905") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "card-publicadores.html" (dict "paisPublicacion" "CO" "publicadores" "Universidad de nariño" "logotipo" "/images/publicadores/universidad-narino.jpg" "observaciones" "17801" "totalEspecies" "2647") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "card-publicadores.html" (dict "paisPublicacion" "CO" "publicadores" "Instituto de Investigación de Recursos Biológicos Alexander von Humboldt" "logotipo" "/images/publicadores/humbolt.jpg" "observaciones" "385640" "totalEspecies" "2193") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "card-publicadores.html" (dict "paisPublicacion" "CO" "publicadores" "Universidad Nacional de Colombia" "logotipo" "/images/publicadores/universidad-nacional-colombia.jpg" "observaciones" "14020" "totalEspecies" "3434") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "card-publicadores.html" (dict "paisPublicacion" "US" "publicadores" "Missouri Botanical Garden" "logotipo" "/images/publicadores/missouri.jpg" "observaciones" "10845" "totalEspecies" "2905") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "card-publicadores.html" (dict "paisPublicacion" "CO" "publicadores" "Universidad de nariño" "logotipo" "/images/publicadores/universidad-narino.jpg" "observaciones" "17801" "totalEspecies" "2647") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "card-publicadores.html" (dict "paisPublicacion" "CO" "publicadores" "Instituto de Investigación de Recursos Biológicos Alexander von Humboldt" "logotipo" "/images/publicadores/humbolt.jpg" "observaciones" "385640" "totalEspecies" "2193") }}
                </div>
            </div>
            <div class="hidden lg:block">
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev swiper-button-prev-netflix swiper-button-prev-netflix--blue" style="top: 22px; left: 0; height: 100%; width: 52px;">
                    <img src="/images/home/arrow-left.svg" alt="arrow left">
                </div>
                <div class="swiper-button-next swiper-button-next-netflix swiper-button-next-netflix--blue" style="top: 22px; right: 0; height: 100%; width: 52px;">
                    <img src="/images/home/arrow-right.svg" alt="arrow right">
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="font-open-sans py-3 px-6 text-base lg:text-lg border-2 border-white text-white text-center" href="#">
                Conocer más
            </a>
        </div>
    </div>
</div>
{{ partial "app-map.html" (dict "titleMap" .Title "subtitle" .Params.subtitle "imageMap" "/images/regiones/map-narino.png" ) }}
<div class="mx-auto w-10/12 text-center py-12 space-y-12 lg:pb-16 xl:pb-20 ">
    <span class="font-bold">Con el apoyo de</span>
    <img class="mx-auto" src="/images/public/cinta-logos-proyecto.png" alt="logo colombia">
</div>
{{ end }}
{{ define "head" }}
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
{{ end }}
{{ define "js" }}
{{ $publicadores := resources.Get "js/publicadores.js" | js.Build (dict "minify" hugo.IsProduction)}}
{{ $js := resources.Get "js/ventana.js" | babel | js.Build (dict "minify" hugo.IsProduction) }}
<script src="{{ $publicadores.Permalink }}"></script>
<script src="{{ $js.Permalink }}"></script>
{{ end }}