{{ define "main" }}
{{ partial "breadcrumbs" . }}
{{ partial "full-banner.html" (dict "titleBanner" .Title "banner" .Params.bgImage "especiesRegistradas" .Params.especies_registradas "linearGradient" "rgba(0,48,69,1)") }}
<div class="bg-blue-section py-12 lg:py-16 xl:py-20">
    <div class="mx-auto w-10/12 max-w-screen-xl text-white space-y-12 lg:space-y-16 xl:space-y-20">
        <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center">
            <div class="lg:w-1/2" style="max-width: 364px;">
                <div class="flex justify-between">
                    <div class="space-y-4" style="max-width: 160px;">
                        <p class="text-5xl xl:text-6xl font-semibold font-oswald">{{ .Params.especies_continentales }}</p>
                        <p class="text-base font-open-sans-condensed">Especies continentales</p>
                        <img src="/images/colombia/trazado-262.svg" alt="picos">
                        <p class="font-semibold text-lg xl:text-xl text-blue-ultra-light font-oswald">{{ .Params.observaciones_continentales }}</p>
                        <span class="font-open-sans-condensed text-blue-ultra-light text-sm">Observaciones
                            continentales</span>
                    </div>
                    <div class="space-y-4" style="max-width: 128px;">
                        <p class="text-5xl xl:text-6xl font-semibold font-oswald">{{ .Params.especies_marinas }}</p>
                        <p class="text-base font-open-sans-condensed">Especies marinas</p>
                        <img src="/images/colombia/trazado-262.svg" alt="picos">
                        <p class="font-semibold text-lg xl:text-xl text-blue-ultra-light font-oswald">{{ .Params.observaciones_marinos }}</p>
                        <span class="font-open-sans-condensed text-blue-ultra-light text-sm">Observaciones
                            marinos</span>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/2" style="max-width: 456px;">
                <p class="xl:text-lg">
                    Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center space-y-8 lg:space-y-0 lg:space-x-8 xl:space-x-0">
            <div>
                <div class="space-y-12">
                    <div class="flex items-start space-x-3">
                        <img class="flex-shrink-0 pt-2" src="/images/home/country-1.svg" alt="country 1">
                        <div style="max-width: 90px;">
                            <div class="flex text-white space-x-1">
                                <span class="block font-oswald font-bold xl:text-6xl">
                                    1
                                </span>
                                <div>
                                    <span class="inline-block border-b border-white xl:text-lg font-bold">
                                        er
                                    </span>
                                    <p class="font-bold xl:text-2xl">
                                        País
                                    </p>
                                </div>
                            </div>
                            <span class="text-orange font-open-sans-condensed">
                                Aves, orquídeas y mariposas
                            </span>
                        </div>
                    </div>
                    <div class="flex items-start space-x-3">
                        <img class="flex-shrink-0 pt-2" src="/images/home/country-2.svg" alt="country 2">
                        <div style="max-width: 123px;">
                            <div class="flex text-white space-x-1">
                                <span class="block font-oswald font-bold xl:text-6xl">
                                    2
                                </span>
                                <div>
                                    <span class="inline-block border-b border-white xl:text-lg font-bold">
                                        o
                                    </span>
                                    <p class="font-bold xl:text-2xl">
                                        País
                                    </p>
                                </div>
                            </div>
                            <span class="text-orange font-open-sans-condensed">
                                Plantas, anfibios y peces dulceacuícolas
                            </span>
                        </div>
                    </div>
                    <div class="flex items-start space-x-3">
                        <img class="flex-shrink-0 pt-2" src="/images/home/country-3.svg" alt="country 3">
                        <div style="max-width: 93px;">
                            <div class="flex text-white space-x-1">
                                <span class="block font-oswald font-bold xl:text-6xl">
                                    3
                                </span>
                                <div>
                                    <span class="inline-block border-b border-white xl:text-lg font-bold">
                                        er
                                    </span>
                                    <p class="font-bold xl:text-2xl">
                                        País
                                    </p>
                                </div>
                            </div>
                            <span class="text-orange font-open-sans-condensed">
                                Palmas y reptiles
                            </span>
                        </div>
                    </div>
                    <div class="flex items-start space-x-3">
                        <img class="flex-shrink-0 pt-2" src="/images/home/country-4.svg" alt="country 4">
                        <div style="max-width: 93px;">
                            <div class="flex text-white space-x-1">
                                <span class="block font-oswald font-bold xl:text-6xl">
                                    6
                                </span>
                                <div>
                                    <span class="inline-block border-b border-white xl:text-lg font-bold">
                                        o
                                    </span>
                                    <p class="font-bold xl:text-2xl">
                                        País
                                    </p>
                                </div>
                            </div>
                            <span class="text-orange font-open-sans-condensed">
                                Mamíferos
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="max-width: 242px;">
                <div class="space-y-4 text-white">
                    <p>
                        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet.
                    </p>
                </div>
            </div>
            <div class="xl:flex-shrink-0">
                <img src="/images/colombia/mapa-colombia.svg" alt="map">
            </div>
        </div>
    </div>
    <div class="space-y-12 pt-12 lg:pt-16 xl:pt-20">
        <!-- Slider main container -->
        <div class="swiper swiper-netflix">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "image-box-gradient" (dict "title" "Caquetá" "urlImage" "/images/colombia/caqueta.jpg" "linearGradient" "rgba(5,75,133,1)") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "image-box-gradient" (dict "title" "Casanare" "urlImage" "/images/colombia/casanare.jpg" "linearGradient" "rgba(5,75,133,1)") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "image-box-gradient" (dict "title" "Cauca" "urlImage" "/images/colombia/cauca.jpg" "linearGradient" "rgba(5,75,133,1)") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "image-box-gradient" (dict "title" "Cesar" "urlImage" "/images/colombia/cesar.jpg" "linearGradient" "rgba(5,75,133,1)") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "image-box-gradient" (dict "title" "Chocó" "urlImage" "/images/colombia/choco.jpg" "linearGradient" "rgba(5,75,133,1)") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "image-box-gradient" (dict "title" "Caquetá" "urlImage" "/images/colombia/caqueta.jpg" "linearGradient" "rgba(5,75,133,1)") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "image-box-gradient" (dict "title" "Casanare" "urlImage" "/images/colombia/casanare.jpg" "linearGradient" "rgba(5,75,133,1)") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "image-box-gradient" (dict "title" "Cauca" "urlImage" "/images/colombia/cauca.jpg" "linearGradient" "rgba(5,75,133,1)") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "image-box-gradient" (dict "title" "Cesar" "urlImage" "/images/colombia/cesar.jpg" "linearGradient" "rgba(5,75,133,1)") }}
                </div>
                <div class="swiper-slide" style="max-width: 340px;">
                    {{ partial "image-box-gradient" (dict "title" "Chocó" "urlImage" "/images/colombia/choco.jpg" "linearGradient" "rgba(5,75,133,1)") }}
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev swiper-button-prev-netflix" style="top: 22px; left: 0; height: 100%; width: 52px;">
                <img src="/images/home/arrow-left.svg" alt="arrow left">
            </div>
            <div class="swiper-button-next swiper-button-next-netflix" style="top: 22px; right: 0; height: 100%; width: 52px;">
                <img src="/images/home/arrow-right.svg" alt="arrow right">
            </div>
        </div>
        <div class="text-center">
            <a class="inline-block text-white border-white border-2 text-lg px-7 py-4" href="#">
                Todos los departamentos
            </a>
        </div>
    </div>
    <div class="mx-auto w-10/12 max-w-screen-xl pt-12 lg:pt-16 xl:pt-20 relative">
        <!-- Slider main container -->
        <div class="swiper swiper-summary">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="text-center text-white space-y-12">
                        <h2 class="text-xl lg:text-2xl text-center font-bold font-open-sans mx-auto" style="max-width: 490px;">
                            Resumen de especies y observaciones por departamentos
                        </h2>
                        <img class="mx-auto" src="/images/colombia/estadisticas.svg" alt="estadistica">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="text-center text-white space-y-12">
                        <h2 class="text-xl lg:text-2xl text-center font-bold font-open-sans mx-auto" style="max-width: 490px;">
                            Resumen de especies y observaciones por departamentos
                        </h2>
                        <img class="mx-auto" src="/images/colombia/estadisticas.svg" alt="estadistica">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="text-center text-white space-y-12">
                        <h2 class="text-xl lg:text-2xl text-center font-bold font-open-sans mx-auto" style="max-width: 490px;">
                            Resumen de especies y observaciones por departamentos
                        </h2>
                        <img class="mx-auto" src="/images/colombia/estadisticas.svg" alt="estadistica">
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden lg:block">
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev swiper-button-prev-summary">
                <img src="/images/public/left-arrow.svg" alt="left arrow">
            </div>
            <div class="swiper-button-next swiper-button-next-summary">
                <img src="/images/public/right-arrow.svg" alt="right arrow">
            </div>
        </div>
    </div>
</div>
{{ partial "grupos-biologicos.html" . }}
{{ partial "tematicas.html" . }}
{{ partial "regiones.html" . }}
{{ partial "app-map.html" (dict "titleMap" "Colombia" "imageMap" "/images/public/app-mapa.png" ) }}
{{ end }}
{{ define "head" }}
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
{{ end }}
{{ define "js" }}
{{ $colombia := resources.Get "js/colombia.js" | js.Build (dict "minify" false)}}
<script src="{{ $colombia.Permalink }}"></script>
{{ end }}