{{ define "main" }}
{{ partial "full-banner.html" (dict "titleBanner" "Colombia" "banner" "banner-colombia-desktop") }}
<div class="bg-blue-section py-12 lg:py-16 xl:py-20">
    <div class="mx-auto w-10/12 md:mb-20 text-white">
        <div class="flex flex-col md:flex-row justify-between">
            <div class="flex gap-x-5 md:gap-x-10">
                <div class="space-y-2 w-1/2 md:w-1/3">
                    <p class="text-5xl font-semibold font-oswald">1234</p>
                    <p class="text-base font-open-sans">Especies continentales</p>
                    <img src="/images/colombia/trazado-262.svg" alt="picos">
                    <p class="font-semibold text-xl font-oswald">123.456.789</p>
                    <span class="font-open-sans">Observaciones continentales</span>
                </div>
                <div class="space-y-2 w-1/2 md:w-1/3">
                    <p class="text-5xl font-semibold font-oswald">1234</p>
                    <p class="text-base font-open-sans">Especies continentales</p>
                    <img src="/images/colombia/trazado-262.svg" alt="picos">
                    <p class="font-semibold text-xl font-oswald">123.456.789</p>
                    <span class="font-open-sans">Observaciones continentales</span>
                </div>
            </div>
            <div class="py-5 md:w-2/5 mx-auto text-lg">
                Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>
    <div>
        <div class="mx-auto max-w-screen-xl w-10/12">
            <div
                class="flex flex-col lg:flex-row lg:justify-between lg:items-center space-y-8 lg:space-y-0 lg:space-x-8 xl:space-x-0">
                <div>
                    <div class="space-y-12">
                        <div class="flex items-start space-x-3">
                            <img class="flex-shrink-0 pt-2" src="/images/home/country-1.svg" alt="country 1">
                            <div style="max-width: 90px;">
                                <div class="flex text-white space-x-1">
                                    <span class="block font-oswald font-bold xl:text-6xl">
                                        1
                                    </span>
                                    <div>
                                        <span class="inline-block border-b border-white xl:text-lg font-bold">
                                            er
                                        </span>
                                        <p class="font-bold xl:text-2xl">
                                            País
                                        </p>
                                    </div>
                                </div>
                                <span class="text-orange font-open-sans-condensed">
                                    Aves, orquídeas y mariposas
                                </span>
                            </div>
                        </div>
                        <div class="flex items-start space-x-3">
                            <img class="flex-shrink-0 pt-2" src="/images/home/country-2.svg" alt="country 2">
                            <div style="max-width: 123px;">
                                <div class="flex text-white space-x-1">
                                    <span class="block font-oswald font-bold xl:text-6xl">
                                        2
                                    </span>
                                    <div>
                                        <span class="inline-block border-b border-white xl:text-lg font-bold">
                                            o
                                        </span>
                                        <p class="font-bold xl:text-2xl">
                                            País
                                        </p>
                                    </div>
                                </div>
                                <span class="text-orange font-open-sans-condensed">
                                    Plantas, anfibios y peces dulceacuícolas
                                </span>
                            </div>
                        </div>
                        <div class="flex items-start space-x-3">
                            <img class="flex-shrink-0 pt-2" src="/images/home/country-3.svg" alt="country 3">
                            <div style="max-width: 93px;">
                                <div class="flex text-white space-x-1">
                                    <span class="block font-oswald font-bold xl:text-6xl">
                                        3
                                    </span>
                                    <div>
                                        <span class="inline-block border-b border-white xl:text-lg font-bold">
                                            er
                                        </span>
                                        <p class="font-bold xl:text-2xl">
                                            País
                                        </p>
                                    </div>
                                </div>
                                <span class="text-orange font-open-sans-condensed">
                                    Palmas y reptiles
                                </span>
                            </div>
                        </div>
                        <div class="flex items-start space-x-3">
                            <img class="flex-shrink-0 pt-2" src="/images/home/country-4.svg" alt="country 4">
                            <div style="max-width: 93px;">
                                <div class="flex text-white space-x-1">
                                    <span class="block font-oswald font-bold xl:text-6xl">
                                        6
                                    </span>
                                    <div>
                                        <span class="inline-block border-b border-white xl:text-lg font-bold">
                                            o
                                        </span>
                                        <p class="font-bold xl:text-2xl">
                                            País
                                        </p>
                                    </div>
                                </div>
                                <span class="text-orange font-open-sans-condensed">
                                    Mamíferos
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="max-width: 242px;">
                    <div class="space-y-4 text-white">
                        <p>
                            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet.
                        </p>
                    </div>
                </div>
                <div class="xl:flex-shrink-0">
                    <img src="/images/colombia/mapa-colombia.svg" alt="map">
                </div>
            </div>

        </div>
    </div>
    <div class="flex relative  py-12 lg:py-16 xl:py-20">
        <div class="absolute opacity-50 z-10 h-11/12">
            <img src="/images/colombia/arrow-swiper.svg" alt="">
        </div>
        <div class="flex flex-nowrap gap-1 lg:gap-x-4 z-0">
            <figure class="relative font-open-sans xs:h-3/5">
                <img src="/images/colombia/swiper-colombia.png" alt="swiper colombia">
                <figcaption class="absolute left-0 bottom-0 px-4 py-2 text-white font-bold xl:text-xl p-4">Casanare
                </figcaption>
            </figure>
            <figure class="relative hidden sm:block font-open-sans">
                <img src="/images/colombia/swiper-colombia.png" alt="swiper colombia">
                <figcaption class="absolute left-0 bottom-0 px-4 py-2 text-white font-bold xl:text-xl p-4">Cauca
                </figcaption>
            </figure>
            <figure class="relative hidden md:block font-open-sans">
                <img src="/images/colombia/swiper-colombia.png" alt="swiper colombia">
                <figcaption class="absolute left-0 bottom-0 px-4 py-2 text-white font-bold xl:text-xl p-4">Cauca
                </figcaption>
            </figure>
            <figure class="relative hidden lg:block font-open-sans">
                <img src="/images/colombia/swiper-colombia.png" alt="swiper colombia">
                <figcaption class="absolute left-0 bottom-0 px-4 py-2 text-white font-bold xl:text-xl p-4">Cauca
                </figcaption>
            </figure>


        </div>
        <div class="opacity-50 absolute right-0 z-10">
            <img class="transform rotate-180" src="/images/colombia/arrow-swiper.svg" alt="">
        </div>
    </div>

    <div class="text-center mt-12">
        <a class="text-white border-white border-2 text-lg px-7 py-4" href="#">
            Conocer cifras de Colombia
        </a>
    </div>
    <div class="text-white py-12 lg:py-16 xl:py-20 space-y-10">
        <div class="w-2/3 md:w-1/3 mx-auto">
            <h2 class="lg:text-2xl text-center font-bold font-open-sans">
                Resumen de especies y observaciones por departamentos
            </h2>
        </div>
        <div class="flex items-center gap-x-2 md:gap-x-10">
            <div class="w-1/12 flex justify-center">
                <img src="/images/colombia/arrow.svg" alt="">
            </div>
            <div class="mx-auto w-10/12">
                <img src="/images/colombia/estadisticas.svg" alt="estadistica">
            </div>
            <div class="w-1/12 flex justify-center">
                <img class="transform rotate-180" src="/images/colombia/arrow.svg" alt="">
            </div>
        </div>
    </div>
</div>

{{ partial "grupos-biologicos.html" . }}
{{ partial "tematicas.html" . }}
{{ partial "regiones.html" . }}
{{ partial "app-map.html" (dict "titleMap" "Colombia" "imageMap" "/images/public/app-mapa.png" ) }}
{{ end }}