{{ define "main" }}
{{ partial "full-banner.html" (dict "titleBanner" "Colombia" "banner" "banner-colombia-desktop") }}
<div class="bg-blue-section py-12 lg:py-16 xl:py-20">
    <div class="mx-auto w-2/3 mb-20 text-white">
        <div class="flex gap-x-20">
            <div class="flex gap-x-10">
                <div>
                    <p>1234</p>
                    <span>Especies continentales</span>
                    <img src="/images/colombia/trazado-262.svg" alt="picos">
                    <p>123.456.789</p>
                    <span>Observaciones continentales</span>
                </div>

                <div>
                    <p>1234</p>
                    <span>Especies continentales</span>
                    <img src="/images/colombia/trazado-261.svg" alt="olas">
                    <p>123.456.789</p>
                    <span>Observaciones continentales</span>
                </div>

            </div>
            <div class="">Eu aliqua quis quis ad dolore anim irure aliqua quis magna minim anim. Exercitation amet
                fugiat nulla
                ad tempor pariatur minim quis mollit sint veniam minim eu ut. Mollit eu eu consequat veniam. Aliqua
                consequat cillum Lorem veniam deserunt esse officia aliquip aliquip id pariatur aliquip ipsum. Officia
                velit aliquip ipsum ea exercitation excepteur excepteur fugiat culpa ex. Aliquip ad excepteur dolore do
                laborum mollit tempor quis officia. Cupidatat voluptate laboris ex pariatur elit officia reprehenderit
                esse eiusmod anim sunt aute laborum.</div>
        </div>
    </div>
    <div class="mx-auto max-w-screen-xl w-10/12">
        <div
            class="flex flex-col lg:flex-row lg:justify-between lg:items-center space-y-8 lg:space-y-0 lg:space-x-8 xl:space-x-0">
            <div>
                <div class="space-y-12">
                    <div class="flex items-start space-x-3">
                        <img class="flex-shrink-0 pt-2" src="/images/home/country-1.svg" alt="country 1">
                        <div style="max-width: 90px;">
                            <div class="flex text-white space-x-1">
                                <span class="block font-oswald font-bold xl:text-6xl">
                                    1
                                </span>
                                <div>
                                    <span class="inline-block border-b border-white xl:text-lg font-bold">
                                        er
                                    </span>
                                    <p class="font-bold xl:text-2xl">
                                        País
                                    </p>
                                </div>
                            </div>
                            <span class="text-orange font-open-sans-condensed">
                                Aves, orquídeas y mariposas
                            </span>
                        </div>
                    </div>
                    <div class="flex items-start space-x-3">
                        <img class="flex-shrink-0 pt-2" src="/images/home/country-2.svg" alt="country 2">
                        <div style="max-width: 123px;">
                            <div class="flex text-white space-x-1">
                                <span class="block font-oswald font-bold xl:text-6xl">
                                    2
                                </span>
                                <div>
                                    <span class="inline-block border-b border-white xl:text-lg font-bold">
                                        o
                                    </span>
                                    <p class="font-bold xl:text-2xl">
                                        País
                                    </p>
                                </div>
                            </div>
                            <span class="text-orange font-open-sans-condensed">
                                Plantas, anfibios y peces dulceacuícolas
                            </span>
                        </div>
                    </div>
                    <div class="flex items-start space-x-3">
                        <img class="flex-shrink-0 pt-2" src="/images/home/country-3.svg" alt="country 3">
                        <div style="max-width: 93px;">
                            <div class="flex text-white space-x-1">
                                <span class="block font-oswald font-bold xl:text-6xl">
                                    3
                                </span>
                                <div>
                                    <span class="inline-block border-b border-white xl:text-lg font-bold">
                                        er
                                    </span>
                                    <p class="font-bold xl:text-2xl">
                                        País
                                    </p>
                                </div>
                            </div>
                            <span class="text-orange font-open-sans-condensed">
                                Palmas y reptiles
                            </span>
                        </div>
                    </div>
                    <div class="flex items-start space-x-3">
                        <img class="flex-shrink-0 pt-2" src="/images/home/country-4.svg" alt="country 4">
                        <div style="max-width: 93px;">
                            <div class="flex text-white space-x-1">
                                <span class="block font-oswald font-bold xl:text-6xl">
                                    6
                                </span>
                                <div>
                                    <span class="inline-block border-b border-white xl:text-lg font-bold">
                                        o
                                    </span>
                                    <p class="font-bold xl:text-2xl">
                                        País
                                    </p>
                                </div>
                            </div>
                            <span class="text-orange font-open-sans-condensed">
                                Mamíferos
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="max-width: 242px;">
                <div class="space-y-4 text-white">
                    <p>
                        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet.
                    </p>
                </div>
            </div>
            <div class="xl:flex-shrink-0">
                <img src="/images/home/map.svg" alt="map">
            </div>
        </div>
        <div class="text-center mt-12">
            <a class="text-white border-white border-2 text-lg px-7 py-4" href="#">
                Conocer cifras de Colombia
            </a>
        </div>
    </div>
</div>
{{ end }}