{{ define "main" }}
<div class="">
    <div class="bg-gray -mb-8">
        barra degradado
    </div>
    <div class="relative bg-banner-explorador-desktop bg-cover bg-center" style="height: 436px;">
        <div class="mx-auto max-w-screen-xl w-10/12 xl:w-9/12">
            <div class="absolute top-1/2 transform -translate-y-1/2 text-white-3 space-y-8" style="max-width: 500px;">
                <h2 class="block font-oswald font-bold text-4xl xl:text-8xl">
                    Departamentos
                </h2>
                <span class="block bg-white border-t-2"></span>
                <p class="font-open-sans-condensed">
                    Esse excepteur amet mollit Lorem labore sint anim aliquip qui quis. Quis enim velit elit labore amet
                    id
                </p>
            </div>
        </div>
        <div class="absolute bottom-0 right-0 text-white">camara</div>
    </div>
    <div class="p-12 lg:p-16 xl:p-20">
        <div class="mx-auto w-10/12 max-w-xl">
            <div>
                swiper
            </div>
            <div class="mt-16">
                <h2>TODOS LOS Departamentos</h2>
            </div>
        </div>
    </div>
    {{ end }}