{{ define "main" }}
<div class="relative bg-banner-explorador-desktop bg-cover bg-center" style="height: 436px;">
    <div class="mx-auto max-w-screen-xl w-10/12 xl:w-9/12">
        <div class="absolute top-1/2 transform -translate-y-1/2 text-white-3 space-y-8" style="max-width: 500px;">
            <h2 class="font-open-sans-condensed uppercase font-bold xl:text-7xl">
                Departamentos
            </h2>
            <span class="block bg-white" style="height: 1px;">
                &nbsp;
            </span>
            <p class="xl:text-lg">
                Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
            </p>
        </div>
    </div>
</div>
<div class="py-12 lg:py-16 xl:py-20 space-y-12">
    <div class="mx-auto w-10/12 max-w-screen-xl">
        <div class="space-y-6">
            <h2 class="text-blue-light font-bold xl:text-3xl">
                Departamento destacados
            </h2>
            <div class="flex flex-col lg:flex-row justify-between items-center space-y-8 lg:space-y-0 lg:space-x-4">
                <figure class="relative">
                    <img src="/images/home/mar-caribe.png" alt="mar caribe">
                    <figcaption class="absolute left-0 bottom-0 text-white font-bold xl:text-xl p-4">Mar Caribe
                    </figcaption>
                </figure>
                <figure class="relative">
                    <img src="/images/home/especies-endemicas.png" alt="especies endemicas">
                    <figcaption class="absolute left-0 bottom-0 text-white font-bold xl:text-xl p-4">Especies endémicas
                    </figcaption>
                </figure>
                <figure class="relative">
                    <img src="/images/home/invertebrados.png" alt="invertebrados">
                    <figcaption class="absolute left-0 bottom-0 text-white font-bold xl:text-xl p-4">Invertebrados
                    </figcaption>
                </figure>
                <figure class="relative">
                    <img src="/images/home/narino.png" alt="narino">
                    <figcaption class="absolute left-0 bottom-0 text-white font-bold xl:text-xl p-4">Nariño</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="mx-auto w-11/12 max-w-screen-xl space-y-12">
        <div class="space-y-12">
            <div class="mx-auto space-y-6 text-center">
                <h2 class="font-bold text-2xl">Todos los Departamentos</h2>
                <input class="border p-2 border-black w-1/2 md:w-1/4" type="text" placeholder="Buscar departamento" />
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 lg:gap-5 xl:gap-6">
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
                <div class="text-blue-dark font-bold text-2xl">
                    <img src="/images/home/especies-endemicas.png" />
                    <p class="mt-2">Amazonas</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}