{{ define "main" }}
<div class="relative bg-banner-home-desktop bg-cover bg-center" style="height: 677px;">
    <div class="mx-auto max-w-screen-xl w-10/12 xl:w-9/12">
        <div class="absolute top-1/2 transform -translate-y-1/2 text-white-3 space-y-8">
            <span class="block font-oswald font-bold xl:text-8xl">
                63.303
            </span>
            <h1 class="font-open-sans-condensed xl:text-3xl font-extrabold">
                Especies registradas en Colombia
            </h1>
            <span class="block bg-white" style="height: 1px; width: 99.52px;">
                &nbsp;
            </span>
        </div>
    </div>
</div>
{{ end }}