@font-face {
    font-family: Oswald;
    src: url("/fonts/Oswald-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("/fonts/OpenSans_Condensed-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("/fonts/OpenSans_Condensed-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("/fonts/OpenSans_Condensed-ExtraBold.ttf");
    font-weight: 800;
}