.nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    top: 0;
    left: -100%;
    background-color: rgb(256,256,256);
    width: 100%;
    height: 75vh;
    padding: 64px;
    padding-bottom: 32px;
    z-index: 50;
    transition: all .3s;
}
.nav--active {
    left: 0;
}
.menu-button {
    position: relative;
    cursor: pointer;
    z-index: 50;
}
@media only screen and (min-width: 1024px) {
    .menu-button {
        display: none;
    }
}
.menu-icon {
    position: relative;
}
.menu-icon,
.menu-icon::before,
.menu-icon::after {
    display: block;
    background-color: #000;
    width: 32px;
    height: 3px;
    transition: all 0.3s ease;
}
.menu-icon::before,
.menu-icon::after {
    content: "";
    position: absolute;
    left: 0;
}
.menu-icon::before {
    top: 10px;
}

.menu-icon::after {
    top: -10px;
}

.menu-icon--active {
    background-color: transparent !important;
}

.menu-icon--active::before,
.menu-icon--active::after {
    top: 0 !important;
    background-color: #000;
}

.menu-icon--active::before {
    transform: rotate(-135deg) !important;
}

.menu-icon--active::after {
    transform: rotate(135deg) !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 1;
    visibility: hidden;
    transition: all .3s;
}
.overlay--active {
    background-color: #000;
    opacity: 0.6;
    visibility: visible;
    cursor: pointer;
    z-index: 30;
}
.btn-up {
    position: fixed;
    bottom: 24px;
    right: -100%;
    width: 48px;
    height: 48px;
    background-color: rgb(0,0,0);
    color: #fff;
    cursor: pointer;
    transition: all .2s;
    display: grid;
    place-items: center;
    font-size: 20px;
    border-radius: 4px;
    z-index: 50;
}
.btn-up--active {
    right: 24px;
}


///////////////////////////////////////////////////////////////////

.nav-menu {
  color:  #013246;
  display: flex;
}

.nav-menu-item {
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
}

.nav-menu-item:not(.nav-menu-link):hover {
  background-color: #013246;
  color: #ffffff;
}

.nav-menu-item:not(.nav-menu-link):focus-within {
  background-color: #013246;
  color: #ffffff;
}

.nav-menu-link:hover {
  color: #247ce1;
}

.nav-menu-item:hover .nav-menu-item-submenu,
.nav-menu-item:not(.nav-menu-link):focus-within .nav-menu-item-submenu {
  display: block;
}

.nav-menu-item-trigger {
  background-color: transparent;
  border: none;
  color:  #013246;
  color: inherit;
}

.nav-menu-item-submenu {
  display: none;
  position: absolute;
  background-color: #013246;
  color: #ffffff;
  padding: 12px 0;
  top: 100%;
  /* left: 0; */
  min-width: 100%;
  width: max-content;
}

.nav-menu-item-submenu-item {
  padding: 12px 12px;
}

.nav-menu-item-submenu-item:hover,
.nav-menu-item-submenu-item:focus-within {
  background-color: #ffffff;
  color: #013246;
}

.nav-menu-item-submenu-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  color: #013246;
  padding: 24px 12px 24px 0;
  background-color: #013246;
  height: 100%;
  z-index: 1;
  min-width: 50%;
  width: max-content;
}

.nav-menu-item-submenu-item:hover > .nav-menu-item-submenu-submenu,
.nav-menu-item-submenu-item:focus-within > .nav-menu-item-submenu-submenu {
  display: block;
}

.nav-menu-item-submenu-submenu:after {
  content: "";
  top: 12px;
  left: 0;
  right: 12px;
  bottom: 12px;
  position: absolute;
  background-color: white;
  z-index: -1;
}

.nav-menu-item-submenu-submenu li:hover {
  color: #247ce1;
}

.nav-menu-item-submenu-submenu-item {
  padding: 0 12px;
}
