<div class="pt-24 px-6 bg-command-blue">
    <div class="mx-auto max-w-6xl w-11/12">
        <h2 class="text-white font-bold text-xl lg:text-2xl">
            <span class="font-normal text-lg">Conoce las cifras por </span>Áreas Geográficas
        </h2>
        <div class="grid grid-cols-1 lg:grid-cols-5 gap-8 mt-16">
            {{ partial "category-card.html" (dict "icon" "/images/area-marina.svg" "category" "Área marina" "color" "command-blue") }}
            {{ partial "category-card.html" (dict "icon" "/images/municipios.svg" "category" "Municipios" "color" "command-blue") }}
            {{ partial "category-card.html" (dict "category" "Áreas especiales" "color" "command-blue") }}
            {{ partial "category-card.html" (dict "icon" "/images/areas-protegidas.svg" "category" "Áreas protegidas" "color" "command-blue") }}
            {{ partial "category-card.html" (dict "icon" "/images/ecosistemas-estrategicos.svg" "category" "Ecosistemas estrategicos" "color" "command-blue") }}
        </div>
    </div>
</div>
<div class="bg-cultured h-32" style="margin-top: -36px;"></div>