<div class="pt-24 px-6 bg-command-blue">
    <div class="mx-auto max-w-6xl w-11/12">
        <h2 class="text-white font-bold text-xl lg:text-2xl"><span class="font-normal text-lg">Conoce las cifras por
            </span>Áreas Geográficas</h2>
        <div class="grid grid-cols-1 lg:grid-cols-5 gap-8 mt-16">
            <div>
                <div class="bg-white py-8 px-2 text-center" style="height: 150px;">
                    <img class="mx-auto" src="/images/area-marina.svg" alt="Área marina">
                    <p class="mt-4 font-bold text-lg">Área marina</p>
                </div>
                <div class="bg-white py-4 border border-command-blue cursor-pointer">
                    <img class="mx-auto" src="/images/arrow-bottom-blue.svg" alt="arrow bottom">
                </div>
            </div>
            <div>
                <div class="bg-white py-8 px-2 text-center" style="height: 150px;">
                    <img class="mx-auto" src="/images/municipios.svg" alt="Municipios">
                    <p class="mt-4 font-bold text-lg">Municipios</p>
                </div>
                <div class="bg-white py-4 border border-command-blue cursor-pointer">
                    <img class="mx-auto" src="/images/arrow-bottom-blue.svg" alt="arrow bottom">
                </div>
            </div>
            <div>
                <div class="bg-white py-8 px-2 text-center" style="height: 150px;">
                    <div class="mx-auto" style="height: 29px; background-color: #1C75AD; opacity: 0.27; width: 100px;">
                        &nbsp;</div>
                    <p class="mt-4 font-bold text-lg">Áreas especiales</p>
                </div>
                <div class="bg-white py-4 border border-command-blue cursor-pointer">
                    <img class="mx-auto" src="/images/arrow-bottom-blue.svg" alt="arrow bottom">
                </div>
            </div>
            <div>
                <div class="bg-white py-8 px-2 text-center" style="height: 150px;">
                    <img class="mx-auto" src="/images/areas-protegidas.svg" alt="Áreas protegidas">
                    <p class="mt-4 font-bold text-lg">Áreas protegidas</p>
                </div>
                <div class="bg-white py-4 border border-command-blue cursor-pointer">
                    <img class="mx-auto" src="/images/arrow-bottom-blue.svg" alt="arrow bottom">
                </div>
            </div>
            <div>
                <div class="bg-white py-8 px-2 text-center" style="height: 150px;">
                    <img class="mx-auto" src="/images/ecosistemas-estrategicos.svg" alt="Ecosistemas estrategicos">
                    <p class="mt-4 font-bold text-lg">Ecosistemas estrategicos</p>
                </div>
                <div class="bg-white py-4 border border-command-blue cursor-pointer">
                    <img class="mx-auto" src="/images/arrow-bottom-blue.svg" alt="arrow bottom">
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 125px; background-color: #FBF9F8; margin-top: -46px;"></div>