<div class="relative bg-{{ .banner }} bg-cover bg-center" style="height: 433px;">
    {{ partial "breadcrumb.html" . }}
    <div class="mx-auto max-w-screen-xl w-10/12 text-white h-full">
        <div class="flex flex-col justify-center h-full 2 space-y-6 xl:space-y-8" style="max-width: 500px;">
            <h2 class="font-open-sans-condensed uppercase font-extrabold text-6xl xl:text-7xl">
                {{ .titleBanner }}
            </h2>
            <div class="bg-white" style="height: 2px;">
                &nbsp;
            </div>
            <p class="xl:text-lg">
                Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt ut
                laoreet.
            </p>
        </div>
    </div>
    <div class="absolute bottom-5 right-12">
        <div class="flex space-x-3 text-white">
            <img src="/images/public/icon-camera.svg" alt="icono camara" />
            <span>Lorem ipsum dolor</span>
        </div>
    </div>
</div>