<div class="bg-white flex-shrink-0 h-60 w-80 border font-open-sans space-y-1">
    <div class="pl-7 flex justify-between items-end">
        <p class="text-blue-section italic">Pais de publicacion: <span class="font-semibold">CO</span>
        </p>
        <div>
            <img src="/images/publicadores/apc.png" alt="apc">
        </div>
    </div>
    <div class="mx-auto w-10/12 space-y-2 pb-4">
        <p class="font-open-sans text-lg font-bold text-blue-section">Asociación Primatológica
            Colombiana
        </p>
        <table class="mx-auto w-11/12">
            <tbody>
                <tr class="px-10">
                    <th class="text-left bg-gray-light">Observaciones</th>
                    <th class="border-l bg-gray-light border-blue-section">2139</th>
                </tr>
                <tr>
                    <th class="text-left">Total Especies</th>
                    <th class="border-l border-blue-section">2139</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>