<footer class="bg-white-3">
    <div class="mx-auto w-10/12 xl:w-9/12 max-w-screen-xl">
        <div class="border-t border-blue py-12 lg:py-16 xl:py-20">
            <div class="flex flex-col lg:flex-row lg:justify-between space-y-8 lg:space-y-0 lg:space-x-4">
                <div class="lg:-mt-2 xl:-mt-3 2xl:-mt-4">
                    <img src="/images/public/logo-footer.svg" alt="logo footer">
                </div>
                <div>
                    <ul class="text-blue-picker space-y-4">
                        <span class="font-bold">
                            Acerca de
                        </span>
                        <li>
                            <a href="#">SiB Colombia</a>
                        </li>
                        <li>
                            <a href="#">Preguntas frecuentes</a>
                        </li>
                        <li>
                            <a href="#">Términos y condiciones</a>
                        </li>
                        <li>
                            <a href="#">Boletín</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="text-blue-picker space-y-4">
                        <span class="font-bold">
                            Contacto
                        </span>
                        <li>
                            <a href="mailto:sib@humboldt.org.co">
                                sib@humboldt.org.co
                            </a>
                        </li>
                        <li>
                            Calle 28 A # 15-09, Bogotá D.C.
                        </li>
                        <li>
                            PBX: (+571)3202767
                        </li>
                        <li>
                            Colombia
                        </li>
                        <li class="flex items-center space-x-3">
                            <a href="#">
                                <img src="/images/public/twitter-icon.svg" alt="social media">
                            </a>
                            <a href="#">
                                <img src="/images/public/youtube-icon.svg" alt="social media">
                            </a>
                            <a href="#">
                                <img src="/images/public/facebook-icon.svg" alt="social media">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="border-t border-blue py-5">
            <a href="https://www.datasketch.co/" target="_blank">
                <img class="mx-auto" src="/images/public/logo-datasketch.svg" alt="logo datasketch">
            </a>
        </div>
    </div>
</footer>