<div class="relative bg-cover bg-center" style="height: 677px; background-image: url({{ .banner }});">
    <div class="mx-auto w-10/12 max-w-screen-xl h-full text-white">
        <div class="flex flex-col justify-end items-center h-full relative space-y-8  lg:space-y-12 xl:space-y-16 pb-20">
            <div class="flex flex-col lg:flex-row justify-between items-center w-full space-y-2 lg:space-y-0" style="max-width: 605px;">
                <div>
                    <h1 class="font-open-sans-condensed uppercase font-bold text-6xl xl:text-7xl">
                        {{.titleBanner}}
                    </h1>
                </div>
                <div class="hidden lg:block h-full bg-white" style="width: 2px;">
                    &nbsp;
                </div>
                <div class="space-y-1 text-center lg:text-left">
                    <p class="font-oswald uppercase font-bold text-5xl xl:text-6xl">
                        63.303</p>
                    <p class="font-open-sans-condensed">
                        Especies observadas
                    </p>
                </div>
            </div>
            <div class="space-y-2">
                <img class="w-full" src="/images/colombia/colombia-barra.svg" alt="barra" />    
                <div class="flex justify-between items-center text-white-3">
                    <span>
                        Cifra de riqueza actual
                    </span>
                    <span>
                        Cifra de riqueza estimada
                    </span>
                </div>
            </div>
            <div class="absolute bottom-8 right-0">
                <div class="flex items-center space-x-3 text-white-3">
                    <img src="/images/public/icon-camera.svg" alt="icono camara" />
                    <span class="italic">Lorem ipsum dolor</span>
                </div>
            </div>
        </div>
    </div>
</div>