<div class="relative bg-{{ .banner }} bg-cover bg-center" style="height: 677px;">
    <div class="mx-auto max-w-screen-xl">
        <div class="absolute top-1/2 transform translate-x-1/2 text-white-3 space-y-14">
            <div class="flex md:flex-row space-x-9">
                <h2 class="font-open-sans-condensed uppercase font-bold text-3xl md:text-7xl">{{.titleBanner}}</h2>
                <span class="block bg-white" style="border-left: 1px;">
                    &nbsp;
                </span>
                <div>
                    <p class="font-open-sans-condensed uppercase font-bold text-3xl md:text-7xl">63.303</p>
                    <span>Especies observadas</span>
                </div>
            </div>
            <div>
                Luis
            </div>
        </div>
    </div>
</div>
{{/* <div class="mt-16 space-y-16">
    <div class="mx-auto">
        <h2> Explora Colombia</h2>
        <p>Proident reprehenderit deserunt qui elit.</p>
        <select>
            <option>Como funciona esta herramienta</option>
        </select>
    </div>
    <div>
        <img src="/images/colombia/app-mapa.png" alt="Mapa Colombia" class="w-full">
    </div>
</div> */}}