<section class="pt-24 px-6 bg-bittersweet">
    <div class="mx-auto max-w-6xl w-11/12">
        <h2 class="text-white font-bold text-xl lg:text-2xl">
            <span class="font-normal text-lg">Conoce las cifras por </span>Grupos Biológicos
        </h2>
        <div class="grid grid-cols-1 lg:grid-cols-5 gap-8 mt-16">
            {{ partial "category-card.html" (dict "icon" "/images/invertebrados.svg" "category" "Invertebrados" "color" "bittersweet") }}
            {{ partial "category-card.html" (dict "icon" "/images/vertebrados.svg" "category" "Vertebrados" "color" "bittersweet") }}
            {{ partial "category-card.html" (dict "icon" "/images/plantas.svg" "category" "Plantas" "color" "bittersweet") }}
            {{ partial "category-card.html" (dict "category" "Hongos" "color" "bittersweet") }}
            {{ partial "category-card.html" (dict "icon" "/images/micro-organismos.svg" "category" "Microorganismos" "color" "bittersweet") }}
        </div>
    </div>
</section>
<div class="bg-cultured h-32" style="margin-top: -36px;"></div>