<div class="pt-24 px-6 bg-bittersweet">
    <div class="mx-auto max-w-6xl w-11/12">
        <h2 class="text-white font-bold text-xl lg:text-2xl"><span class="font-normal text-lg">Conoce las cifras por
            </span>Grupos Biológicos</h2>
        <div class="grid grid-cols-1 lg:grid-cols-5 gap-8 mt-16">
            <div>
                <div class="bg-white py-8 px-2 text-center" style="height: 150px;">
                    <img class="mx-auto" src="/images/invertebrados.svg" alt="invertebrados">
                    <p class="mt-4 font-bold text-lg">Invertebrados</p>
                </div>
                <div class="bg-white py-4 border border-bittersweet cursor-pointer">
                    <img class="mx-auto" src="/images/arrow-bottom-orange.svg" alt="arrow bottom">
                </div>
            </div>
            <div>
                <div class="bg-white py-8 px-2 text-center" style="height: 150px;">
                    <img class="mx-auto" src="/images/vertebrados.svg" alt="Vertebrados">
                    <p class="mt-4 font-bold text-lg">Vertebrados</p>
                </div>
                <div class="bg-white py-4 border border-bittersweet cursor-pointer">
                    <img class="mx-auto" src="/images/arrow-bottom-orange.svg" alt="arrow bottom">
                </div>
            </div>
            <div>
                <div class="bg-white py-8 px-2 text-center" style="height: 150px;">
                    <img class="mx-auto" src="/images/plantas.svg" alt="Plantas">
                    <p class="mt-4 font-bold text-lg">Plantas</p>
                </div>
                <div class="bg-white py-4 border border-bittersweet cursor-pointer">
                    <img class="mx-auto" src="/images/arrow-bottom-orange.svg" alt="arrow bottom">
                </div>
            </div>
            <div>
                <div class="bg-white py-8 px-2 text-center" style="height: 150px;">
                    <div class="mx-auto" style="height: 29px; background-color: #ED6B60; opacity: 0.27; width: 100px;">
                        &nbsp;</div>
                    <p class="mt-4 font-bold text-lg">Hongos</p>
                </div>
                <div class="bg-white py-4 border border-bittersweet cursor-pointer">
                    <img class="mx-auto" src="/images/arrow-bottom-orange.svg" alt="arrow bottom">
                </div>
            </div>
            <div>
                <div class="bg-white py-8 px-2 text-center" style="height: 150px;">
                    <img class="mx-auto" src="/images/micro-organismos.svg" alt="Microorganismos">
                    <p class="mt-4 font-bold text-lg">Microorganismos</p>
                </div>
                <div class="bg-white py-4 border border-bittersweet cursor-pointer">
                    <img class="mx-auto" src="/images/arrow-bottom-orange.svg" alt="arrow bottom">
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 125px; background-color: #FBF9F8; margin-top: -46px;"></div>