<header class="bg-white-3 py-2">
  <div class="mx-auto w-11/12 max-w-screen-xl">
    <div class=" flex flex-row justify-between items-center">
      <div class="lg:flex-shrink-0">
        <a href="/">
          <img src="/images/public/logo-header.svg" alt="logo header">
        </a>
      </div>
      <nav class="lg:w-8/12 xl:w-7/12 text-blue-picker">
        <ul class="hidden lg:flex lg:justify-between">
          {{ $current_page := . }}
          {{ range .Site.Menus.main }}
          <li>
            <a class="inline-block py-7 px-4 {{ if $current_page.IsMenuCurrent "main" . }} font-bold text-blue-light {{ end }}" href="{{ .URL }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
        <ul class="nav lg:hidden">
          {{ $current_page := . }}
          {{ range .Site.Menus.main }}
          <li>
            <a class="inline-block py-7 px-4 text-xl {{ if $current_page.IsMenuCurrent " main" . }} font-bold text-blue-light {{ end }}" href="{{ .URL }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      </nav>
      <!-- MENU BUTTON -->
      <div class="menu-button py-4">
        <span class="menu-icon" id="menu-icon"></span>
      </div>
      <!-- MENU BUTTON END -->
    </div>
  </div>
</header>