<header class="bg-white-3">
  <div class="mx-auto w-11/12 max-w-screen-xl">
    <div class=" flex flex-col lg:flex-row lg:justify-between lg:items-center">
      <div class="flex-shrink-0">
        <a href="/">
          <img src="/images/public/logo-header.svg" alt="logo header">
        </a>
      </div>
      <nav class="lg:w-7/12 text-blue-picker">
        <ul class="hidden lg:flex lg:justify-between">
          {{ $current_page := . }}
          {{ range .Site.Menus.main }}
          <li>
            <a class="inline-block py-7 px-4 {{ if $current_page.IsMenuCurrent "main" . }} font-bold text-blue-light {{ end }}" href="{{ .URL }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</header>