<section class="pt-24 px-6 bg-blue-dark">
    <div class="mx-auto max-w-6xl w-10/12">
        <h2 class="text-white font-bold text-xl lg:text-2xl">
            <span class="font-normal text-lg">Conoce las cifras por </span>Regiones
        </h2>
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-8 mt-16">

            {{ partial "category-card.html" (dict "icon" "/images/regiones/departamentos.svg" "category"
            "Departamentos" "color" "blue-dark" "button" "/images/regiones/-tematicas.svg"
            ) }}
            {{ partial "category-card.html" (dict "icon" "/images/regiones/areas-protegidas.svg" "category"
            "Áreas protegidas" "color" "blue-dark" "button" "/images/regiones/-tematicas.svg")
            }}
            {{ partial "category-card.html" (dict "icon" "/images/regiones/areas-marinas.svg" "category"
            "Áreas marinas" "color" "blue-dark" "button" "/images/regiones/-tematicas.svg")
            }}
            {{ partial "category-card.html" (dict "icon" "/images/regiones/regiones-naturales.svg" "category"
            "Regiones naturales" "color" "blue-dark" "button" "/images/regiones/-tematicas.svg") }}
            <div></div>
            {{ partial "category-card.html" (dict "icon" "/images/regiones/ecosistemas-estratetigicos.svg" "category"
            "Ecosistemas estratégicos" "color" "blue-dark" ) }}

            {{ partial "category-card.html" (dict "icon" "/images/regiones/territorios-indigenas.svg" "category"
            "Territorios indígenas" "color" "blue-dark" ) }}
        </div>
    </div>
</section>
<div class="bg-white py-12 lg:py-16 xl:py-20 -mt-9">
    <div class="mx-auto w-10/12 max-w-screen-xl bg-white-3">
        <div class="space-y-8">
            <div class="flex justify-between items-center">
                <div>
                    <p class="inline-flex items-center space-x-2 font-open-sans-condensed text-white bg-blue-light py-2 px-6">
                        <span>
                            Municipios
                        </span>
                        <img src="/images/public/breadcrumbs-arrow.svg" alt="breadcrum">
                    </p>
                </div>
                <div class="pr-2">
                    <img class="w-6 h-6" src="/images/public/close.svg" alt="close">
                </div>
            </div>
            <div class="space-y-8 text-center font-bold ">
                <h2 class="text-xl xl:text-2xl mx-auto text-blue-dark" style="max-width: 422px;">
                    Número de especies registradas por municipios de Nariño
                </h2>
                <img class="mx-auto" src="/images/public/graphic.svg" alt="grapich">
                <h3>
                    Municipios de Nariño
                </h3>
            </div>
            <div class="text-center space-y-5 mx-auto" style="max-width: 445.9px;">
                <h3 class="font-bold text-xl xl:text-2xl text-blue-light space-y-5">
                    Explora municipios
                </h3>
                <p class="text-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
                <select class="border border-blue-dark py-2 px-8" name="municipios" id="municipios">
                    <option value="" selected disabled>Selecciona un municipio</option>
                    <option value="Puerres">Puerres</option>
                    <option value="Pupiales">Pupiales</option>
                    <option value="Ricaurte">Ricaurte</option>
                    <option value="Roberto Payán">Roberto Payán</option>
                </select>
            </div>
        </div>
    </div>
</div>