<div class="pt-24 px-6 bg-forest">
    <div class="mx-auto max-w-6xl w-11/12">
        <h2 class="text-white font-bold text-xl lg:text-2xl">
            <span class="font-normal text-lg">Conoce las cifras por
            </span>Temáticas
        </h2>
        <div class="grid grid-cols-1 lg:grid-cols-5 gap-8 mt-16">
            {{ partial "category-card.html" (dict "icon" "/images/especies-amenazadas.svg" "category" "Especies amenazadas" "color" "forest") }}
            {{ partial "category-card.html" (dict "icon" "/images/especies-endemicas.svg" "category" "Especies endémicas" "color" "forest") }}
            {{ partial "category-card.html" (dict "icon" "/images/especies-exoticas.svg" "category" "Especies exóticas" "color" "forest") }}
            {{ partial "category-card.html" (dict "category" "Especies CITES" "color" "forest") }}
            {{ partial "category-card.html" (dict "icon" "/images/especies-migratorias.svg" "category" "Especies migratorias" "color" "forest") }}
        </div>
    </div>
</div>
<div class="bg-cultured h-32" style="margin-top: -36px;"></div>