<section class="pt-24 px-6 bg-green-dark">
    <div class="mx-auto max-w-6xl w-10/12">
        <h2 class="text-white font-bold text-xl lg:text-2xl">
            <span class="font-normal text-lg">Conoce las cifras por </span>Tematicas
        </h2>
        <div class="grid grid-cols-1 lg:grid-cols-5 gap-8 mt-16">
            {{ partial "category-card.html" (dict "icon" "/images/tematicas/especies-amenazadas.svg" "category"
            "Especies amenazadas" "color" "green-dark") }}
            {{ partial "category-card.html" (dict "icon" "/images/tematicas/especies-endemicas.svg" "category"
            "Especies endémicas" "color" "green-dark") }}
            {{ partial "category-card.html" (dict "icon" "/images/tematicas/especies-exoticas.svg" "category"
            "Especies exóticas" "color" "green-dark") }}
            {{ partial "category-card.html" (dict "icon" "/images/tematicas/especies-CITES.svg" "category"
            "Especies CITES" "color" "green-dark") }}
            {{ partial "category-card.html" (dict "icon" "/images/tematicas/especies-migratorias.svg" "category"
            "Especies migratorias" "color" "green-dark") }}
        </div>
    </div>
</section>
<div class="bg-white py-12 lg:py-16 xl:py-20 -mt-9">
    <div class="mx-auto w-10/12 max-w-screen-xl bg-white-3">
        <div class="space-y-8">
            <div class="flex justify-between items-center">
                <div>
                    <p class="inline-flex items-center space-x-2 font-open-sans-condensed text-white bg-blue-light py-2 px-6">
                        <span>
                            Especies exóticas
                        </span>
                        <img src="/images/public/breadcrumbs-arrow.svg" alt="breadcrum">
                    </p>
                </div>
                <div class="pr-2">
                    <img class="w-6 h-6" src="/images/public/close.svg" alt="close">
                </div>
            </div>
            <div class="mx-auto lg:w-11/12">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-12">
                    <div class="flex flex-col justify-between pb-8 space-y-12">
                        <div class="space-y-6">
                            <h3 class="font-open-sans-condensed text-base text-center">
                                <span class="block font-oswald text-5xl xl:text-6xl font-bold mb-2">
                                    15
                                </span>
                                Especies registradas
                            </h3>
                            <img class="mx-auto" src="/images/public/chart-blue.svg" alt="chart">
                            <div class="space-y-1 text-center">
                                <p>
                                    Lorem ipsum dolor sit
                                </p>
                                <p>
                                    Lorem ipsum dolor sit
                                </p>
                            </div>
                        </div>
                        <div class="text-center"> 
                            <span class="inline-block py-2 px-10 border-blue-section border-2 text-blue-section">
                                Listado de especies
                            </span>
                        </div>
                    </div>
                    <div>
                        <h2 class="text-blue-2 font-bold text-xl xl:text-2xl">
                            Especies exóticas destacadas
                        </h2>
                        <div>
                            <div class="flex justify-between space-x-6 xl:space-x-10 py-8 border-b-2 border-green-2">
                                <div class="w-2/6">
                                    <img src="/images/regiones/departamentos/feature-1.jpg" alt="feature">
                                </div>
                                <div class="w-4/6 flex flex-col justify-between">
                                    <div>
                                        <h3 class="xl:text-lg font-bold">
                                            Mikania micrantha
                                        </h3>
                                    </div>
                                    <div>
                                        <p>
                                            Lorem ipsum dolor sit dolor
                                        </p>
                                        <p>
                                            Lorem ipsum dolor sit dolor
                                        </p>
                                    </div>
                                    <div>
                                        <p class="font-open-sans-condensed">
                                            <span class="font-oswald font-bold text-xl xl:text-2xl">
                                                13
                                            </span>
                                            Registros
                                        </p>
                                    </div>
                                    <div class="flex">
                                        <div class="w-12 h-1" style="background-color: #93FF41;">&nbsp;</div>
                                        <div class="w-12 h-1" style="background-color: #FF4141;">&nbsp;</div>
                                        <div class="w-12 h-1" style="background-color: #FFB341;">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-between space-x-6 xl:space-x-10 py-8 border-b-2 border-green-2">
                                <div class="w-2/6">
                                    <img src="/images/regiones/departamentos/feature-1.jpg" alt="feature">
                                </div>
                                <div class="w-4/6 flex flex-col justify-between">
                                    <div>
                                        <h3 class="xl:text-lg font-bold">
                                            Columba livia
                                        </h3>
                                    </div>
                                    <div>
                                        <p>
                                            Lorem ipsum dolor sit dolor
                                        </p>
                                        <p>
                                            Lorem ipsum dolor sit dolor
                                        </p>
                                    </div>
                                    <div>
                                        <p class="font-open-sans-condensed">
                                            <span class="font-oswald font-bold text-xl xl:text-2xl">
                                                8
                                            </span>
                                            Registros
                                        </p>
                                    </div>
                                    <div class="flex">
                                        <div class="w-12 h-1" style="background-color: #93FF41;">&nbsp;</div>
                                        <div class="w-12 h-1" style="background-color: #FF4141;">&nbsp;</div>
                                        <div class="w-12 h-1" style="background-color: #FFB341;">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-between space-x-6 xl:space-x-10 py-8">
                                <div class="w-2/6">
                                    <img src="/images/regiones/departamentos/feature-1.jpg" alt="feature">
                                </div>
                                <div class="w-4/6 flex flex-col justify-between">
                                    <div>
                                        <h3 class="xl:text-lg font-bold">
                                            Syngonium podophyllum
                                        </h3>
                                    </div>
                                    <div>
                                        <p>
                                            Lorem ipsum dolor sit dolor
                                        </p>
                                        <p>
                                            Lorem ipsum dolor sit dolor
                                        </p>
                                    </div>
                                    <div>
                                        <p class="font-open-sans-condensed">
                                            <span class="font-oswald font-bold text-xl xl:text-2xl">
                                                3
                                            </span>
                                            Registros
                                        </p>
                                    </div>
                                    <div class="flex">
                                        <div class="w-12 h-1" style="background-color: #93FF41;">&nbsp;</div>
                                        <div class="w-12 h-1" style="background-color: #FF4141;">&nbsp;</div>
                                        <div class="w-12 h-1" style="background-color: #FFB341;">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>