{{ define "main" }}
<div>
    {{ partial "breadcrumb.html" . }}
    <img src="/images/mas/banner.svg" alt="banner">
</div>
<div class="py-12 lg:py-16 xl:py-20">
    <div class="mx-auto max-w-screen-xl">
        <div class="flex flex-col lg:flex-row relative">
            <div class="hidden lg:block lg:w-4/12">
                <ul class="text-center bg-white-2 text-lg font-open-sans sticky lg:top-16 xl:top-20 navigation-scroll">
                    <li><a class="block text-grey-dark py-8 px-6 border-2 border-gray-semilight navigation-child" href="#quienes-contribuyen">Quienes contribuyeron</a></li>
                    <li><a class="block text-grey-dark py-8 px-6 border-2 border-gray-semilight navigation-child" href="#como-citar">¿Cómo citar estas cifras?</a>
                    </li>
                    <li><a class="block text-grey-dark py-8 px-6 border-2 border-gray-semilight navigation-child" href="#que-se-puede-hacer">¿Qué se puede hacer con
                            esto?</a></li>
                    <li><a class="block text-grey-dark py-8 px-6 border-2 border-gray-semilight navigation-child" href="#como-navegar">¿Cómo navegar este sitio?</a>
                    </li>
                    <li><a class="block text-grey-dark py-8 px-6 border-2 border-gray-semilight navigation-child" href="#Acerca-de">Acerca de</a>
                    </li>
                </ul>
            </div>
            <div class="lg:w-7/12">
                <div class="mx-auto w-10/12 xl:w-9/12 space-y-12 lg:space-y-16 xl:space-y-20">
                    <div class="space-y-10" id="quienes-contribuyen">
                        <h2 class="font-bold text-4xl text-blue-section ">
                            Quienes contribuyeron
                        </h2>

                        <p class="text-lg">
                            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore ectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                            veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                            consequat.
                        </p>
                        <p class="text-lg">
                            Consectetur in anim cillum sit id minim. Laborum deserunt fugiat exercitation elit ex. Cillum ut velit
                            adipisicing ex enim nisi culpa Lorem aute aliqua aliquip. Voluptate excepteur enim sunt minim consequat
                            commodo esse Lorem. Minim incididunt anim exercitation qui commodo ex.
                        </p>
                        <button class="text-blue-section border border-blue-section px-4 py-2 text-lg" type="button">
                            Conocer publicadores
                        </button>
                    </div>
                    <div class="space-y-10" id="como-citar">
                        <h2 class="font-bold text-4xl text-blue-section ">
                            ¿Cómo citar estas cifras?
                        </h2>
                        <p class="text-lg">
                            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore ectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                            veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                            consequat.
                        </p>
                        <p class="text-lg">
                            Consectetur in anim cillum sit id minim. Laborum deserunt fugiat exercitation elit ex. Cillum ut velit
                            adipisicing ex enim nisi culpa Lorem aute aliqua aliquip. Voluptate excepteur enim sunt minim consequat
                            commodo esse Lorem. Minim incididunt anim exercitation qui commodo ex.
                        </p>

                    </div>
                    <div class="space-y-10" id="que-se-puede-hacer">
                        <h2 class="font-bold text-4xl text-blue-section ">
                            ¿Qué se puede hacer con esto?
                        </h2>

                        <p class="text-lg">
                            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore ectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                            veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                            consequat.
                        </p>
                        adipisicing ex enim nisi culpa Lorem aute aliqua aliquip. Voluptate excepteur enim sunt minim consequat
                        <p class="text-lg">
                            Consectetur in anim cillum sit id minim. Laborum deserunt fugiat exercitation elit ex. Cillum ut velit
                            commodo esse Lorem. Minim incididunt anim exercitation qui commodo ex.
                        </p>
                    </div>
                    <div class="space-y-10" id="como-navegar">
                        <h2 class="font-bold text-4xl text-blue-section ">
                            ¿Cómo navegar este sitio?
                        </h2>

                        <p class="text-lg">Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut
                            laoreet dolore
                            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation sit amet, cons
                            ectetuer adipiscing
                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                            enim ad minim
                            veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                            consequat.
                        </p>
                        <ol class="list-decimal list-inside  space-y-4">
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio commodi accusantium vel omnis,
                                tempora dolore sed? Ab non numquam saepe necessitatibus suscipit maiores esse sint repellat
                                voluptatibus, odit nemo. Quidem.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio commodi accusantium vel omnis,
                                tempora dolore sed? Ab non numquam saepe necessitatibus suscipit maiores esse sint repellat
                                voluptatibus, odit nemo. Quidem.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio commodi accusantium vel omnis,
                                tempora dolore sed? Ab non numquam saepe necessitatibus suscipit maiores esse sint repellat
                                voluptatibus, odit nemo. Quidem.
                            </li>
                        </ol>
                        <div class="relative flex justify-center">
                            <img src="/images/home/how-to-navigate.png" alt="">
                            <div class="absolute z-10 top-1/3">
                                <img src="/images/public/button-play.svg" alt="play button">
                            </div>
                        </div>
                    </div>
                    <div class="space-y-10" id="Acerca-de">
                        <h2 class="font-bold text-4xl text-blue-section ">
                            Acerca de
                        </h2>

                        <p class="text-lg">
                            Cupidatat aliqua sunt aliquip minim anim proident dolore enim ut aliquip elit sint id. Ipsum amet sint
                            veniam adipisicing ipsum elit laborum quis nulla incididunt veniam et. Anim sunt aute quis aute veniam
                            eiusmod ad cillum exercitation. Ut eu adipisicing nostrud pariatur anim sint amet culpa amet aliqua
                            tempor magna deserunt velit. Ut esse ex aliquip ex excepteur ipsum ad ad irure reprehenderit. Voluptate
                            eu aliquip velit sint. Ad eiusmod qui culpa dolore ea qui proident fugiat consectetur sunt est eiusmod
                            sunt.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ define "js" }}
{{ $acerca := resources.Get "js/acerca.js" | js.Build (dict "minify" false)}}
<script src="{{ $acerca.Permalink }}"></script>
{{ end }}