{{ define "main" }}
{{ partial "banner.html" (dict "banner" "banner-publicadores-desktop" "titleBanner" "publicadores") }}
{{ $publicadores := .Site.Data.publicadores }}
{{ $pais_publicacion := slice}}

{{ range $publicadores }}
{{ if .pais_publicacion}}
{{ $pais_publicacion = $pais_publicacion | append .pais_publicacion }}
{{ end }}
{{ end }}

<div class="py-12 lg:py-16 xl:py-20">
    <div class="w-10/12 mx-auto space-y-16">
        <div
            class="filters flex flex-col items-center lg:flex-row space-y-4 sm:space-y-8 lg:space-y-0 lg:justify-between">
            <div class="relative w-full lg:max-w-xs">
                <img class="absolute top-2 left-3" src="/images/public/icon-search.svg" alt="icon search" />
                <input id="search" class="block w-full focus:outline-none py-2 pl-12 pr-8 border-2 border-grey-dark"
                    type="text" placeholder="Buscar">
            </div>
            <div class="flex flex-col sm:flex-row w-full sm:gap-x-10 space-y-4 sm:space-y-0 sm:justify-between lg:justify-start"
                style="max-width: 475px;">
                <select class="text-blue-section flex space-x-2 border-2 border-blue-section px-3 py-2 items-center"
                    id="publicationCountry">
                    <option selected value="-">Pais de publicación</option>
                    {{ range sort (uniq $pais_publicacion) "value" "asc" }}
                    <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <select class="text-blue-section flex space-x-2 border-2 border-blue-section px-3 py-2 items-center"
                    id="orderBy">
                    <option selected value="-">Ordenar por</option>
                    <option value="A">Alfabéticamente (A-Z)</option>
                    <option value="Z">Alfabéticamente (Z-A)</option>
                </select>

            </div>
        </div>

        <div id="publishers" class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
            {{ range .Site.Data.publicadores }}
            {{ partial "card-publicadores.html" (dict "paisPublicacion" .pais_publicacion "publicadores" .label
            "logotipo" .url_logo "observaciones" .registros "totalEspecies" .especies) }}
            {{ end }}
        </div>

        <div class="pagination mx-auto text-center space-x-1 overflow-hidden">
            {{/* <button class="px-2 py-1 bg-blue-picker text-white font-bold">1</button>
            <button class="px-2 py-1
font-bold">2</button>
            <button class="px-2 py-1
font-bold">3</button>
            <button class="px-2 py-1
font-bold">4</button> */}}
        </div>
    </div>
</div>

{{ end }}
{{ define "head" }}
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
{{ end }}
{{ define "js" }}
{{ $publicadores := resources.Get "js/publicadores.js" | js.Build (dict "minify" false)}}
<script src="{{ $publicadores.Permalink }}"></script>
{{ end }}