<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ $fonts := resources.Get "css/fonts.css" | postCSS | minify | fingerprint }}
    {{ $base := resources.Get "css/tailwind.css" | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $fonts.Permalink }}">
    <link rel="stylesheet" href="{{ $base.Permalink }}">
</head>
<body class="font-open-sans text-eerie-black">
    {{ partial "navbar.html" . }}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ block "js" . }}{{ end }}
</body>
</html>