{{ define "main" }}
<div class="bg-top bg-cover bg-no-repeat h-screen"
    style="background-image: linear-gradient(transparent 0 60%, #1C75AD), url({{.Params.image}})">
    <div class="flex h-full justify-center items-end py-12 text-white lg:space-x-12">
        <h1 class="font-extrabold font-open-sans-condensed uppercase border-white lg:border-r-2 lg:pr-12 lg:text-7xl">{{
            .Title }}</h1>
        {{ with .Params.especies_registradas }}
        <p class="text-center font-open-sans-condensed">
            <span class="block font-bold font-oswald lg:text-6xl">{{ . }}</span>
            <span>Especies registradas</span>
        </p>
        {{ end }}
    </div>
</div>
<div class="py-24 px-6 bg-command-blue text-white">
    <div class="mx-auto max-w-6xl w-10/12">
        <div class="flex items-start">
            {{ with .Params.registros_continentales }}
            <div class="lg:w-1/5">
                <p class="text-center font-open-sans-condensed">
                    <span class="block font-bold font-oswald lg:text-6xl">{{ . }}</span>
                    <span>Registros continentales</span>
                    <img class="mx-auto h-6" src="/images/continental.png" alt="">
                </p>
            </div>
            {{ end }}
            {{ with .Params.registros_maritimos }}
            <div class="lg:w-1/5">
                <h2 class="text-center font-open-sans-condensed">
                    <span class="block font-bold font-oswald lg:text-6xl">{{ . }}</span>
                    <span>Registros marítimos</span>
                    <img class="mx-auto h-6" src="/images/maritimo.png" alt="">
                </h2>
            </div>
            {{ end }}
            <div class="lg:w-3/5">
                <p class="text-lg max-w-md lg:ml-auto">
                    {{ .Params.observacion_registros }}
                </p>
            </div>
        </div>
        <div class="flex items-start mt-20">
            <div class="w-2/5">
                <h2 class="font-bold lg:text-2xl border-b">Nariño vs. Colombia</h2>
                <div class="space-y-6 mt-6">
                    {{ .Params.comparacion | markdownify }}
                </div>
            </div>
        </div>
        <div class="mt-20 grid lg:grid-cols-4">
            {{ with .Params.especies_amenazadas }}
                <div class="text-center font-open-sans-condensed">
                    <p class="block font-bold font-oswald lg:text-6xl">{{ . }}</p>
                    <span>Especies amenazadas</span>
                    <img class="mx-auto mt-4" src="/images/sample/pie-chart.svg" alt="">
                </div>
            {{ end }}
            {{ with .Params.especies_endemicas }}
                <div class="text-center font-open-sans-condensed">
                    <p class="block font-bold font-oswald lg:text-6xl">{{ . }}</p>
                    <span>Especies endémicas</span>
                    <img class="mx-auto mt-4" src="/images/sample/pie-chart.svg" alt="">
                </div>
            {{ end }}
            {{ with .Params.especies_exoticas }}
                <div class="text-center font-open-sans-condensed">
                    <p class="block font-bold font-oswald lg:text-6xl">{{ . }}</p>
                    <span>Especies exóticas</span>
                    <img class="mx-auto mt-4" src="/images/sample/pie-chart.svg" alt="">
                </div>
            {{ end }}
            {{ with .Params.especies_cites }}
                <div class="text-center font-open-sans-condensed">
                    <p class="block font-bold font-oswald lg:text-6xl">{{ . }}</p>
                    <span>Especies CITES</span>
                    <img class="mx-auto mt-4" src="/images/sample/pie-chart.svg" alt="">
                </div>
            {{ end }}
        </div>
    </div>
</div>
<section class="bg-cultured px-6 py-24 text-center">
    <h2 class="font-bold lg:text-2xl">
        Explorador de cifras de <span class="text-command-blue">{{ .Title }}</span>
    </h2>
</section>
{{ partial "grupos-biologicos" . }}
{{ partial "areas-geograficas" . }}
{{ partial "tematicas" }}
<section class="py-24 px-6 bg-patricks-blue bg-opacity-10">
    <div class="max-w-6xl mx-auto lg:w-10/12">
        <h2 class="font-bold text-center text-command-blue lg:text-2xl">Especies con mayor número de registros de Nariño</h2>
        <div class="mt-16 grid gap-16 grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
            <div class="text-lg">
                <img src="/images/sample/pajaro-1.png" alt="">
                <div class="mt-2">
                    <p>Lorem ipsum</p>
                    <p>Lorem ipsum</p>
                </div>
            </div>
            <div class="text-lg">
                <img src="/images/sample/pajaro-2.png" alt="">
                <div class="mt-2">
                    <p>Lorem ipsum</p>
                    <p>Lorem ipsum</p>
                </div>
            </div>
            <div class="text-lg">
                <img src="/images/sample/pajaro-3.png" alt="">
                <div class="mt-2">
                    <p>Lorem ipsum</p>
                    <p>Lorem ipsum</p>
                </div>
            </div>
            <div class="text-lg">
                <img src="/images/sample/pajaro-4.png" alt="">
                <div class="mt-2">
                    <p>Lorem ipsum</p>
                    <p>Lorem ipsum</p>
                </div>
            </div>
            <div class="text-lg">
                <img src="/images/sample/pajaro-5.png" alt="">
                <div class="mt-2">
                    <p>Lorem ipsum</p>
                    <p>Lorem ipsum</p>
                </div>
            </div>
        </div>
        <div class="mt-16 text-center">
            <a href="" class="inline-block px-8 py-2 border border-command-blue text-lg text-command-blue">
                Explorar más especies
            </a>
        </div>
    </div>
</section>
{{ partial "publicadores.html" . }}
{{ end }}