{{ define "main" }}
    <div class="bg-top bg-cover bg-no-repeat h-screen" style="background-image: url({{.Params.image}});">
        <div class="flex h-full justify-center items-end py-12 text-white lg:space-x-12">
            <h1 class="font-extrabold font-open-sans-condensed uppercase border-white lg:border-r-2 lg:pr-12 lg:text-7xl">{{ .Title }}</h1>
            {{ with .Params.especies_registradas }}
                <h2 class="text-center font-open-sans-condensed">
                    <span class="block font-bold font-oswald lg:text-6xl">{{ . }}</span>
                    <span>Especies registradas</span>
                </h2>
            {{ end }}
        </div>
    </div>
{{ end }}