{{ define "main" }}
<div class="bg-top bg-cover bg-no-repeat h-screen"
    style="background-image: linear-gradient(transparent 0 60%, #1C75AD), url({{.Params.image}})">
    <div class="py-24 px-6 h-full">
        <div class="mx-auto max-w-6xl w-10/12 h-full">
            <div class="h-full flex flex-col lg:flex-row items-end justify-between">
                <div class="lg:w-1/2">&nbsp;</div>
                <div class="lg:w-1/2 text-white">
                    <h1
                        class="font-extrabold font-open-sans-condensed uppercase border-white lg:border-b-2 text-5xl lg:text-6xl pb-2">
                        {{ .Title }}</h1>
                    <p class="font-extrabold font-open-sans-condensed uppercase text-xl lg:text-2xl pt-2">{{
                        .Params.municipio }}</p>
                    <p class="mt-8 lg:mt-10">{{ .Params.comparacion }}</p>
                    <div class="flex items-start justify-between mt-12 lg:mt-16">
                        {{ with .Params.registros_continentales }}
                        <div class="lg:w-1/2">
                            <p class="text-center font-open-sans-condensed">
                                <span class="block font-bold font-oswald lg:text-6xl">{{ . }}</span>
                                <span>Registros continentales</span>
                                <img class="mx-auto h-6" src="/images/continental.png" alt="">
                            </p>
                        </div>
                        {{ end }}
                        {{ with .Params.registros_maritimos }}
                        <div class="lg:w-1/2">
                            <h2 class="text-center font-open-sans-condensed">
                                <span class="block font-bold font-oswald lg:text-6xl">{{ . }}</span>
                                <span>Registros marítimos</span>
                                <img class="mx-auto h-6" src="/images/maritimo.png" alt="">
                            </h2>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-24 px-6 bg-command-blue-dark text-white">
    <div class="mx-auto max-w-6xl w-10/12">
        <div class="flex flex-col lg:flex-row items-start justify-between">
            <div class="lg:w-5/12">
                <h2 class="font-bold text-xl lg:text-2xl border-b-2 border-white pb-2">{{ .Title }} vs. {{
                    .Params.municipio
                    }}</h2>
                <p class="text-lg mt-6">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                    dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolor.
                </p>
                <p class="text-lg mt-4">
                    Lorem ipsum dolor
                    sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                    suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="lg:w-5/12">
                <p class="text-center">
                    Especies registradas en municipio vs. <span class="block">especies registradas en Nariño</span>
                </p>
                <img class="mx-auto mt-8" src="/images/sample/pie-chart-2.svg" alt="sample chart"
                    style="width: 303px; height: 311px;">
            </div>
        </div>
        <div class="mt-20 px-6 py-12 bg-command-blue text-center bg-opacity-30">
            <h2 class="font-bold lg:text-2xl">Conoce las cifras</h2>
            <p class="max-w-md mx-auto mt-6">Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy
                nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <div class="mt-8 flex items-start justify-center lg:space-x-16">
                <a href="" class="inline-block px-8 py-2 border border-white text-lg">
                    Grupos biológicos
                </a>
                <a href="" class="inline-block px-8 py-2 border border-white text-lg">
                    Áreas geográficas
                </a>
                <a href="" class="inline-block px-8 py-2 border border-white text-lg">
                    Temáticas
                </a>
            </div>
        </div>
    </div>
</div>
{{ partial "grupos-biologicos" . }}
{{ partial "areas-geograficas" . }}
{{ partial "tematicas" . }}
{{ partial "app" . }}
{{ partial "publicadores" . }}
{{ end }}